extends layout

block content
    nav
        div.wordContainer
            h1.wrd1
                a(href="/") Members
            h1.wrd2
                a(href="/") Only
        div.btnContainer
            button.primarybtn(type="button")
                a(href="/auth/sign-up") Sign Up
            button.primarybtn(type="button")
                a(href="/auth/log-in") Login

    h1.msgTitle= "Login"
    
    form(method="POST")
        div.formContainer
            label(for="email") Email:
            input(type="text" placeholder="johnappleseec@gmail.com" name="email" required)
        div.formContainer
            label(for="password") Password: 
            input(type="password" placeholder="123456" name="password" required)
        button.submitbtn(type="submit") Login

    if errors 
        ul 
            for error in errors 
                li!= error.msg
