extends layout 

block content 
    nav
        div.wordContainer
            h1.wrd1
                a(href="/auth/home") Members
            h1.wrd2
                a(href="/auth/home") Only
        div.btnContainer
            if status == false
                button.primarybtn(type="button")
                    a(href="/auth/clubpage") Join the club
            button.primarybtn(type="button")
                a(href="/auth/newmsg") + New Message
            button.primarybtn(type="button")
                a(href="/auth/log-out") Logout
    
    h2.msgTitle= "What do you want to share?"
    
    form(method="POST")
        div.formContainer 
            label(for="subject") Subject: 
            input(type="text" placeholder="Subject Title" name="subject" required)
        div.formContainer 
            label(for="message") Message: 
            textArea(type="text" placeholder="Type a message" name="message" required)
        button.submitbtn(type="submit") Post 

    if errors 
        ul 
            for error in errors 
                li!= error.msg
